<div id="header">
  <div id="logo">
    <h1><a href="#">Wood Working </a></h1>

    <p>template design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a></p>
  </div>
</div>
<!-- end #header -->