<div id="menu">
  <ul>
    <li class="current_page_item"><%= link_to "Homepage", root_path %></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Photos</a></li>
    <li><%= link_to "About", page_path(:about) %></li>
    <li><a href="#">Links</a></li>
    <li><%= link_to "Contact", new_contact_path %></li>
  </ul>
</div>